In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import env

pd.options.display.max_rows = 100

import warnings
warnings.filterwarnings("ignore")

import acquire
import prepare

In [2]:
df = acquire.get_zillow_data()

In [3]:
df = prepare.prep_zillow(df)

The following 34 columns were dropped because they were missing more    than 50.0% of data:
['airconditioningtypeid', 'architecturalstyletypeid', 'basementsqft', 'buildingclasstypeid', 'decktypeid', 'finishedfloor1squarefeet', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'regionidneighborhood', 'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid', 'yardbuildingsqft17', 'yardbuildingsqft26', 'numberofstories', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear', 'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc', 'storydesc', 'typeconstructiondesc']

0 rows were dropped because they were missing more than          50.0% of data
Yearbuilt converted to age.

In [4]:
df.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,regionidcity,regionidzip,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,age
1,17052889,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,1110,6.111001e+07,13091.0,97099.0,88000.0,464000.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,50
2,14186244,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,122,6.059022e+07,21412.0,97078.0,85289.0,564778.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,55
3,12177905,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,0101,6.037300e+07,396551.0,96330.0,108918.0,145143.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,47
10,11104527,3.0,4.0,2540.0,6037.0,34434971.0,-118464390.0,10384.0,0101,6.037920e+07,54311.0,96374.0,271715.0,430108.0,158393.0,6103.36,6.037920e+13,0.005963,2017-01-02,18
16,14375300,2.0,4.0,1677.0,6059.0,33642800.0,-117707211.0,5304.0,122,6.059052e+07,32380.0,96962.0,169118.0,528847.0,359729.0,5496.44,6.059052e+13,-0.021896,2017-01-02,36

In [6]:
df.fips.value_counts()

6037.0    25707
6059.0     8978
6111.0     3289
Name: fips, dtype: int64